// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$azure-checkin-primary: mat.define-palette(mat.$light-blue-palette, 600);
$azure-checkin-accent: mat.define-palette(mat.$blue-grey-palette, 100);

// The warn palette is optional (defaults to red).
$azure-checkin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$azure-checkin-theme: mat.define-light-theme(
  (
    color: (
      primary: $azure-checkin-primary,
      accent: $azure-checkin-accent,
      warn: $azure-checkin-warn,
    ),
  )
);
